<div class="article-modifier" *ngIf="article">
    <!-- <h2>{{article.title | uppercase}} Details</h2> -->
    <h3>Details</h3>
    <div><span>id: </span>{{article.id}}</div>
    <div>
      <label for="article-title">Title: </label>
      <input id="article-title" [(ngModel)]="article.title" placeholder="Article title" />
    </div>
    <div>
      <label for="article-author">Authors: </label>
      <input id="article-author" [(ngModel)]="article.authors" placeholder="Article authors" />
    </div>
    <div>
      <label for="article-abstract">Abstract: </label>
      <input id="article-abstract" [(ngModel)]="article.abstract" placeholder="Article abstract" />
    </div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="save()">save</button>
</div>

<div *ngIf="article">
  <h2>{{article.title | uppercase}}</h2>
  <!-- <div><span>id: </span>{{article.id}}</div> -->
  <!-- <div>
    <label for="article-title">Title: </label>
    <input id="article-title" [(ngModel)]="article.title" placeholder="Article title" />
  </div> -->
  <h3 id="article-display-author">{{article.authors}}</h3>
  <!-- <div>
    <label for="article-author">Authors: </label>
    <input id="article-author" [(ngModel)]="article.authors" placeholder="Article authors" />
  </div> -->
  <p id="article-display-abstract">{{article.abstract}}</p>
  <!-- <div>
    <label for="article-abstract">Abstract: </label>
    <input id="article-abstract" [(ngModel)]="article.abstract" placeholder="Article abstract" />
  </div> -->
  <!-- <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button> -->
</div>