/* ArticleDetailComponent's private CSS styles */

.article-details {
  display: flex;
}
.article-display {
  width: 55%;
}
.article-modifier {
  width: 45%;
  padding: 50px 0 75px 0;
  background-color: #d9d9d9;
}

.article-menu {
  width: 42.5%;
  position: absolute;
  right: 1.25%;
  top: 2.5%;
  color: #d9d9d9;                           /* couleur de texte de styles.css > header */
  font-weight: bold;
  display: flex;
}

#article-content {
  margin: 25px 100px 25px 100px;
  word-wrap: break-word;
}
.article-display h2, h3 {
  text-align: center;
}
p {
  text-align: justify;
  padding-top: 50px;
}

table {
  width: 100%;
}
#labels {
  width: 15%;
  padding: 0 5% 0 5%;
}
label {
  color: #435960;
  font-weight: bold;
}
input, textarea {
  font-size: 1em;
  padding: .5rem;
  margin: 0 2.5% 0 5%;
  width: 87.5%;
  font-family: Arial;
}
textarea {
  height: 500px;
}


button {
  /* margin-top: 20px; */
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  width: 100px;                            /* +/- largeur de bouton de navigation (facultatif) */
  margin: 5% 0 5% 0;
}
.buttons {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-details {
  width: 75%;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
  margin-bottom: 5%;
}
.menu-article-title {
  text-align: justify;
  word-wrap: break-word;
}
#menu-detail-title {
  text-align: justify;
}
#menu-id-badge {
  padding: 2.5% 1% 0 1%;
  background-color: #405061;
  color: #d9d9d9;
  height: 2em;
  min-width: 16px;
  text-align: center;
  margin-right: .8em;
  border-radius: 20px;
  border: #d9d9d9 2px solid;
}



button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
  